.dia2{
    background-color: rgb(30, 210, 141) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dia2_contenedor{
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.dia2_span{
    width: 100%;
    height: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.dia2_linea1_{
    animation: dia2_top 700ms ease-in-out forwards;
}

@keyframes dia2_top{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(15px) rotate(45deg);
    }
}

.dia2_linea1_reverse{
    animation: dia2_top_reverse 700ms ease-in-out forwards;
}

@keyframes dia2_top_reverse{
    0%{
        transform: translateY(15px) rotate(45deg);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);

    }
}

.dia2_linea2_{
    animation: dia2_centro 700ms ease-in-out forwards;
}

@keyframes dia2_centro{

    0%,50%{
        transform: scale(1);
    }

    51%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}

.dia2_linea2_reverse{
    animation: dia2_centro_reverse 700ms ease-in-out forwards;
}

@keyframes dia2_centro_reverse{

    0%,50%{
        transform: scale(0) ;
    }

    100%{
        transform: scale(1);
    }
}

.dia2_linea3_{
    animation: dia2_bottom 700ms ease-in-out forwards;
}

@keyframes dia2_bottom {
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(-15px) rotate(135deg) ;
    }
}

.dia2_linea3_reverse{
    animation: dia2_bottom_reverse 700ms ease-in-out forwards;
}

@keyframes dia2_bottom_reverse {
    0%{
        transform: translateY(-15px) rotate(135deg);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);

    }
} 


