@import url('dia1.css');
@import url('dia2.css');
@import url('dia3.css');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 0;
    padding-bottom: 10px;
}

.cont_principal{
    width: 100%;
    height: auto;
    position: relative;
    top: 16vh;
    background: rgb(152,152,152);
    background: linear-gradient(60deg, rgba(152,152,152,1) 50%, rgba(245,245,245,1) 100%);
}

.cont_dias{
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 30px;
    display: grid;
    grid-template-columns: minmax(300px,300px) minmax(300px,300px) minmax(300px,300px) ;
    gap: 10px;
    justify-content: center;
}

@media ( width < 1000px ){
    .cont_dias{
        grid-template-columns: minmax(300px,300px) minmax(300px,300px) ;

    }
}

@media ( width < 670px ){
    .cont_dias{
        grid-template-columns: 300px ;

    }
}

.dia{
    border: 1px solid black;
    height: 300px;
    z-index: 1;
    background-color: antiquewhite;
}



